#select-type option{
    text-transform: capitalize;
}
.mdl-menu__outline{
    box-shadow: none !important;
}
.mdl-menu__container{
    background: white;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

.ck-editor__editable{
    min-height: 150px;
}


#biography table{
    width: 100%;
}

#biography tbody,#biography td, #biography tfoot, #biography th, #biography thead, #biography tr{
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px !important;
}


.btn.btn-xs {
    font-size: 11px;
    padding: 3px 3px;
    margin: 0px;
}



  
  .code {
    background: #dfdfdf;
    padding: 10px;
    color: #9e9e9e;
    font-size: 12px;
    border-radius: 3px;
  }
  
  #schedule {
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
    background: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    position: asbolute;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .s-legend {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 150px;
  }
  .s-legend .s-head-info {
    height: 100%;
  }
  .s-legend .s-name {
    margin: 20px auto;
  }
  .s-legend .s-week-day {
    height: 100%;
    position: relative;
    box-shadow: inset 0 1px 0 0.5px #f5f5f5;
  }
  .s-legend .s-week-day .s-day {
    width: 100%;
    margin: 20px auto;
  }
  
  .s-head-info {
    font-weight: 900;
    max-height: 59px;
    position: relative;
    width: 100%;
  }
  
  .s-wrapper {
    display: flex;
  }
  
  .s-block {
    display: block;
    text-align: center;
  }
  
  .s-week-day {
    min-width: 50px;
    max-width: 150px;
    width: 100%;
  }
  
  .s-cell {
    text-align: center;
  }
  
  .s-container {
    width: 100%;
    overflow: auto;
  }
  .s-container .s-head-info {
    align-items: center;
    display: flex;
    border-bottom: 0.5px solid #e9e9e9;
    min-height: 60px;
  }
  .s-container .s-head-info .s-head-hour {
    width: 100%;
    height: 55px;
    max-height: 55px;
    padding: 12px 0;
    min-width: 76.5px;
    border-left: 1.2px solid #e9e9e9;
  }
  .s-container .s-head-info .s-head-hour .s-number {
    font-size: 15px;
  }
  .s-container .s-head-info .s-head-hour .s-hourly-interval {
    color: #cccccc;
    font-size: 8px;
  }
  .s-container .s-rows-container {
    display: flex;
    position: relative;
  }
  .s-container .s-rows-container .s-activities {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .s-container .s-rows-container .s-activities .s-act-row {
    position: relative;
    height: 55px;
  }
  .s-container .s-rows-container .s-activities .s-act-row .green {
    background: linear-gradient(to right, #00b09b, #96c93d);
  }
  .s-container .s-rows-container .s-activities .s-act-row .orange {
    background: linear-gradient(to right, #F2994A, #F2C94C);
  }
  .s-container .s-rows-container .s-activities .s-act-row .red {
    background: linear-gradient(to right, #CB356B, #BD3F32);
  }
  .s-container .s-rows-container .s-activities .s-act-row .yellow {
    background: linear-gradient(to right, #fffc00, #fffc00);
  }
  .s-container .s-rows-container .s-activities .s-act-row .blue {
    background: linear-gradient(to right, #36D1DC, #5B86E5);
  }
  .s-container .s-rows-container .s-activities .s-act-row .pink {
    background: linear-gradient(to right, #834d9b, #d04ed6);
  }
  .s-container .s-rows-container .s-activities .s-act-row .black {
    background: linear-gradient(to right, #000428, #004e92);
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab {
    height: 45px;
    padding: 15px;
    border-radius: 3px;
    position: absolute;
    top: 5px;
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-teacher, .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room, .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-group {
    font-size: 7px;
    color: white;
    position: absolute;
    margin: 5px;
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-group {
    bottom: 0;
    left: 0;
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-name {
    color: white;
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-teacher {
    left: 0;
    top: 0;
  }
  .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room {
    top: 0;
    right: 0;
  }
  
  .s-hour-row {
    height: 100%;
    width: 100%;
    min-width: 76.5px;
  }
  .s-hour-row .s-hour-wrapper {
    display: flex;
  }
  .s-hour-row .s-hour-wrapper .s-half-hour:nth-child(2) {
    border-left: 0px solid #e9e9e9;
  }
  .s-hour-row .s-hour-wrapper .s-half-hour {
    width: 50%;
    height: 55px;
    border-left: 1.2px solid #e9e9e9;
  }
  
  @media only screen and (max-width: 480px) {
    .s-legend {
      width: 100px;
    }
  }


.th-time{
  font-size: 12px !important;
  font-weight: normal;
}
.class-schedule-table .class-details{
  position: relative;
  text-align: center;
}

.class-schedule-table .class-details .ctime{
  /* position: absolute; */
  top: -20px;
  right: 0;
  font-size: 13px;
  color: #00b035;
}

.class-schedule-table .class-details .rno{
  /* position: absolute; */
  bottom: -15px;
  right: 0;
  font-size: 13px;
}

.class-schedule-table .class-details .tname{
  font-size: 14px;
}

.class-schedule-table .class-details .ccode{
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}

/* custom select */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: rgb(119, 119, 119);
  width: 100%;
  height: 30px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 5px 0px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: rgb(196, 196, 196) transparent transparent transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}
.select-styled:hover {
  background-color: #ffffff;
}
.select-styled:active, .select-styled.active {
  background-color: #fcfcfc;
}
.select-styled:active:after, .select-styled.active:after {
  top: 5px;
  border-color: transparent transparent rgb(194, 194, 194) transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
}
.select-options li {
  margin: 0;
  padding: 5px 0;
  text-indent: 15px;
  /* border-top: 1px solid #999999; */
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover, .select-options li.is-selected {
  color: #242424;
  background: rgb(240, 240, 240);
}
.select-options li[rel="hide"] {
  display: none;
}

/* datetimepicker style */
.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 200px;
  max-width: 100%;
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td,
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  border-radius: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.old, .bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #0095ff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #0095ff;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 40px;
  padding: 0;
  width: 40px;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
  border-bottom: 1px solid #34495e;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.day {
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td span {
  border-radius: 0;
  height: 77px;
  line-height: 77px;
  margin: 0;
  width: 25%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-months tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-years tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span {
  display: block;
  float: left;
  width: 50%;
  height: 46px;
  line-height: 46px !important;
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span:not(.decade) {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
  padding: 0;
  width: 30%;
  height: 30px;
  line-height: 30px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
  width: 10%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  border: none;
  border-radius: 0;
  height: 36px;
  line-height: 16px;
  padding: 0;
  width: 100%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
  color: #333;
  margin-top: -1px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button:hover {
  background-color: #eee;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a, .bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 100%;
}


.timePicker span{
  padding: 10px 20px !important;
  display: flex;
  justify-content: center;
  justify-items: center;
}





.class-schedule-table{
  border-spacing: 10px !important;
}


.table-scroll{
  max-width: 100%;
  overflow-x: scroll;
  cursor:move;
}

.class-details-td{
  min-width: 250px;
}

.class-details{
  transition: .5s;
  border-radius: 5px;
  border-width: 3px !important;
}

.class-details-td a:hover>.class-details{
  transform: scale(1.05);
  transition: .3s;
  background: white;
}

.blogThumb{
  min-height: 400px;
  position: relative;
}
.course-box{
  padding: 0px 10px !important;
}

.course-btn{
  position: absolute;
  bottom: 10px;
  left: 30px;
}


.dark-sidebar-color .sidemenu-container .sidemenu>li.active>a{
  background: #fdfeff;
  color: #000428;
}
.dark-sidebar-color .sidemenu-container .sidemenu>li.active>a>i{
  color: #000428;
}
.dark-sidebar-color .sidemenu-container .sidemenu>li.active>a>.arrow:before{
  color: #000428;
}

.dark-sidebar-color .sidemenu-container .sidemenu>li.open>a{
  background: #141b3a;
  color: #ffffff;
}
.dark-sidebar-color .sidemenu-container .sidemenu>li.open>a>i{
  color: #ffffff;
}
.dark-sidebar-color .sidemenu-container .sidemenu>li.open>a>.arrow.open:before, .dark-sidebar-color .sidemenu-container .sidemenu>li.open>a>.arrow:before{
  color: #ffffff;
}

.sidemenu-closed .sidemenu-container .slimscroll-style{
  position: fixed;
  background: #222C3C;
}